<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.articlesprovider"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="com.example.providers.articles.ArticlesProvider"
            android:authorities="com.example.providers.articles"
            android:label="Articles"
            android:exported="true"
            android:multiprocess="false" >
        </provider>
    </application>

</manifest>